.primary-btn {
    display: inline-flex;
    padding: 1.2rem 3.2rem;
    background: transparent;
    border: 1px solid $primaryColor;
    font-weight: 400;
    line-height: normal;
    transition: 0.3s all ease;

    &:hover {
        background: $primaryColor;
        color: #fff;
        border: 1px solid #fff;
    }
}