.primary-btn {
    font-weight: 500;
    display: inline-flex;
    padding: 1.2rem 3.2rem;
    background: transparent;
    border: 1px solid #fff;
    line-height: normal;
    transition: 0.3s all ease;
    color: #fff;

    &.modified {
        border: 1px solid $accentColor;
        color: #000;

        &:hover {
            background: $accentColor;
            color: #fff;
        }
    }

    &:hover {
        background: $accentColor;
        color: #fff;
        border-color: transparent;
    }
   
}

.exp-more {
    position: relative;
}