<section class="section-space client-partner d-none">
    <div class="wrapper">
        <h2>Amazing client & partner</h2>
        <div class="swiper client-partner-slider custom-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="./images/dummy-logo.jpg" alt="dummy">
                </div>
                <div class="swiper-slide">
                    <img src="./images/dummy-logo.jpg" alt="dummy">
                </div>
                <div class="swiper-slide">
                    <img src="./images/dummy-logo.jpg" alt="dummy">
                </div>
                <div class="swiper-slide">
                    <img src="./images/dummy-logo.jpg" alt="dummy">
                </div>
                <div class="swiper-slide">
                    <img src="./images/dummy-logo.jpg" alt="dummy">
                </div>
                <div class="swiper-slide">
                    <img src="./images/dummy-logo.jpg" alt="dummy">
                </div>
                <div class="swiper-slide">
                    <img src="./images/dummy-logo.jpg" alt="dummy">
                </div>
                <div class="swiper-slide">
                    <img src="./images/dummy-logo.jpg" alt="dummy">
                </div>
                <div class="swiper-slide">
                    <img src="./images/dummy-logo.jpg" alt="dummy">
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="flex common-slider-arrows">
                <div class="swiper-button-prev-unique swiper-arrows"><img src="./images/left-arrow.png"
                        alt="left arrow">
                </div>
                <div class="swiper-button-next-unique swiper-arrows"><img src="./images/right-arrow.png"
                        alt="right arrow">
                </div>
            </div>
        </div>
    </div>



</section>