<section class="section-space contact-form">
    <div class="wrapper">
        <div class="flex flex-mob-column">
            <div class="about-contact">
                <h2>Let’s work together</h2>
                <p class="para-space">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. </p>
                <a href="javascript:void(0)" class="primary-btn">Schedule Call</a>
                <div class="contact-cred">
                    <p>Email Us</p>
                    <h4><a href="mailto:username@companyname.com">username@companyname.com</a></h4>
                    <p>Call Us</p>
                    <h4><a href="tel:(+123) 1234 5678">(+123) 1234 5678</a></h4>
                </div>
            </div>
            <div class="contact-field">
                <h2>Let’s level up your
                    brand together</h2>
                <p class="para-space">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <form>
                    <div class="flex field-spacings">
                        <input type="text" class="f-name form-control" placeholder="First Name">
                        <input type="text" class="l-name form-control" placeholder="Last Name">
                    </div>
                    <div class="flex field-spacings">
                        <input type="text" class="email form-control" placeholder="Email">
                        <input type="text" class="mobile form-control" placeholder="Mobile">
                    </div>
                    <div class="flex field-spacings">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Comment"></textarea>
                    </div>
                    <button type="submit" class="primary-btn modified">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>