<footer class="section-space">
    <div class="wrapper">
        <div class="flex footer-wrap">
            <div class="foo-info">
                <figure>
                    <img src="./images/intrc-logo.svg" alt="">
                </figure>
                <p>INTRC Consultants LLC is on a mission to provide every business leader and entrepreneur with tools and solutions to build a global customer base while enhancing global presence with confidence.</p>
            </div>
            <div class="foo-sec">
                <h4>Main</h4>
                <ul>
                    <li><a href="javascript:void(0)">Home</a></li>
                    <li><a href="javascript:void(0)">About</a></li>
                    <li><a href="javascript:void(0)">Services</a></li>
                    <li><a href="javascript:void(0)">Contact</a></li>
                </ul>
            </div>
            <div class="foo-sec">
                <h4>Services</h4>
                <ul>
                    <li><a href="javascript:void(0)">Intenational Business</a></li>
                    <li><a href="javascript:void(0)">Virtual Office</a></li>
                    <li><a href="javascript:void(0)">Small Business</a></li>

                </ul>
            </div>
            <div class="foo-sec">
                <h4>Social Media</h4>
                <ul class="flex">
                    <li><a href="javascript:void(0)"><img src="./images/linkedin.png" alt="linkedin" title="linkedin"></a></li>
                    <li><a href="javascript:void(0)"><img src="./images/twitter.png" alt="twitter" title="twitter"></a></li>
                    <li><a href="javascript:void(0)"><img src="./images/youtube.png" alt="youtube" title="youtube"></a></li>
                    <li><a href="javascript:void(0)"><img src="./images/facebook.png" alt="facebook" title="facebook"></a></li>
                    <li><a href="javascript:void(0)"><img src="./images/instagram.png" alt="instagram" title="instagram"></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
<div class="copyrights">
    <div class="wrapper">
        <p>© 2022 - <span class="current-year"></span> INTRC. All Rights Reserved.</p>
    </div>

</div>