<footer class="section-space">
    <div class="wrapper">
        <div class="flex footer-wrap">
            <div class="foo-info">
                <h3>INTRC</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy.</p>
            </div>
            <div class="foo-sec">
                <h4>Main</h4>
                <ul>
                    <li><a href="javascript:void(0)">Home</a></li>
                    <li><a href="javascript:void(0)">About</a></li>
                    <li><a href="javascript:void(0)">Services</a></li>
                    <li><a href="javascript:void(0)">Contact</a></li>
                </ul>
            </div>
            <div class="foo-sec">
                <h4>Services</h4>
                <ul>
                    <li><a href="javascript:void(0)">Intenational Business</a></li>
                    <li><a href="javascript:void(0)">Virtual Office</a></li>
                    <li><a href="javascript:void(0)">Small Business</a></li>

                </ul>
            </div>
            <div class="foo-sec">
                <h4>Social Media</h4>
                <ul>
                    <li><a href="javascript:void(0)">Linked In</a></li>
                    <li><a href="javascript:void(0)">Twitter</a></li>
                    <li><a href="javascript:void(0)">YouTube</a></li>
                    <li><a href="javascript:void(0)">FaceBook</a></li>
                    <li><a href="javascript:void(0)">Instagram</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
<div class="copyrights">
    <div class="wrapper">
        <p>© 2022 - <span>2022</span> INTRC. All Rights Reserved.</p>
    </div>

</div>