<header>
    <div class="wrapper">
        <div class="header-box">
            <figure class="logo">
                <a href="/">
                    <img src="./images/intrc-logo.svg" alt="INTRC">
                </a>
            </figure>
            <nav>

                <ul>
                    <li class="@@if (context.page === 'home') {active}"><a href="/">Home</a></li>
                    <li class="@@if (context.page === 'about') {active}"><a href="about-us.html">About</a></li>
                    <li class="@@if (context.page === 'services') {active}"><a href="services.html">Services</a>
                    </li>
                    <li class="@@if (context.page === 'contactus') {active}"><a href="contact-us.html">Contact</a>
                    </li>
                    <li class="client-portal"><a href="javascript:void(0)">Client Portal</a>
                        <ul class="submenu">
                            <li><a href="https://dashboard.stripe.com/login" target="_blank">Login</a></li>
                            <li><a href="https://buy.stripe.com/aEUcNCain5hN6Kk000" target="_blank">Payment</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="javascript:void(0)" class="primary-btn">Schedule Call</a>
            </nav>
            <div class="burger2 menu">
                <div class="icon"></div>
            </div>
        </div>

    </div>
</header>