<header>
    <div class="wrapper">
        <div class="header-box">
            <figure>
                <p>INTRC</p>
            </figure>
            <nav>
                <ul>
                    <li class="@@if (context.page === 'home') {active}"><a href="/">Home</a></li>
                    <li class="@@if (context.page === 'about') {active}"><a href="about-us.html">About</a></li>
                    <li class="@@if (context.page === 'services') {active}"><a href="javascript:void(0)">Services</a>
                    </li>
                    <li class="@@if (context.page === 'contactus') {active}"><a href="javascript:void(0)">Contact</a>
                    </li>
                </ul>
                <a href="javascript:void(0)" class="primary-btn">Schedule Call</a>
            </nav>
        </div>

    </div>
</header>