<section class="section-space single-dual-tiled @@backgroundClass">
    <div class="wrapper">
        <div class="flex align-center flex-mob-column">
            <div class="single-dual-img">
                <figure>
                    <img src="@@imageIllus" alt="">
                </figure>
            </div>
            <div class="single-dual-content">
                <h2>Why choose us</h2>
                <p>We will let our unique qualities speak for us</p>
                <div class="single-dual-flex">
                    <div class="tiled-boxes">
                        <figure>
                            <img src="./images/diverse-network.svg" alt="icon">
                        </figure>
                        <h5>Diverse Network</h5>
                        <p>We utilise our diversified and extensive network of chartered accountants, lawyers, and innovators to empower you in achieving your goals in a fast and effective manner.</p>
                    </div>
                    <div class="tiled-boxes">
                        <figure>
                            <img src="./images/affordable-cost.svg" alt="icon">
                        </figure>
                        <h5>Affordable Cost</h5>
                        <p>We understand how expensive it can be to establish a business. That is why we have kept our costs to a minimum so that you can accomplish your dreams.</p>
                    </div>
                    <div class="tiled-boxes">
                        <figure>
                            <img src="./images/transparency.svg" alt="icon">
                        </figure>
                        <h5>Transparency</h5>
                        <p>We know the importance of transparency and accountability. That is why we have restructured our framework so you can track every step of your business setup journey easily.</p>
                    </div>
                    <div class="tiled-boxes">
                        <figure>
                            <img src="./images/easy-setup.svg" alt="Easy setup">
                        </figure>
                        <h5>Easy Setup</h5>
                        <p>We undertake all legal processes and documentation from stem to stern, so you can concentrate on operating and managing your business.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>