ul {
  li {
    list-style: none;
  }
}

.wrapper {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.5rem;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.section-space {
  padding: $section-spacing;
}