ul {
  li {
    list-style: none;
  }
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.5rem;
}

.flex {
  display: flex;
}

.reverse {
  flex-direction: row-reverse;
}
.primary-bg{
  background-color: $primaryColor;
}
.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.section-space {
  padding: $section-spacing;
}

.para-space {
  margin-bottom: 7.2rem;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}
.grey-bg{
  background: $colorType1;
}
.white-bg{
  background: #fff;
}