.contact-form {
    background: linear-gradient(90deg, $primaryColor 50%, #F1F1F1 50%);

    @include tabletmin {
        background: none;
        padding: 0;
        .wrapper {
            padding: 0;
        }
    }

    .about-contact {
        flex: 1;
        color: #fff;
        background-color: $primaryColor;

        @include tabletmin {
            flex-basis: 100%;
            padding: 10.4rem 2rem;
        }

        .contact-cred {
            margin-top: 16.9rem;



            p {
                margin-bottom: 1.6rem;
            }

            h4 {
                margin-bottom: 4rem;

                a {
                    color: #fff;
                }

                &:last-of-type {
                    margin: 0;
                }
            }
        }
    }

    .contact-field {
        flex: 1;
        padding: 0 0 0 12rem;

        @include tabletmin {
            background-color: #F1F1F1;
            padding: 10.4rem 2rem;
        }

        input,
        textarea {
            padding: 1.6rem;
            border: 0;
            border-bottom: 1px solid #000000;
            color: rgba(0, 0, 0, 0.32);
            background: transparent;
            width: 100%;
            margin-right: 1.6rem;

            &:last-of-type {
                margin: 0;
            }
        }

        textarea {
            resize: none;
            height: 10.6rem !important;
        }

        .field-spacings {
            margin-bottom: 5.4rem;
        }
    }
}