.homepage {




    .what-we-do {
        .exp-more {
            margin-top: 4.8rem;

            span {
                margin-right: 1.6rem;
            }
        }

        .exp-more {
            display: block;
        }
    }
}