.common-slider-arrows {
    justify-content: flex-end;

    .swiper-arrows {
        margin-right: 3rem;
        line-height: 1;
        cursor: pointer;

        img {
            width: 3.2rem;
        }
    }

    .swiper-button-disabled {
        pointer-events: none;
        opacity: 0.7;
    }
}

.custom-slider {
    .swiper-wrapper {
        padding-bottom: 7.2rem;
    }

    .swiper-pagination {
        text-align: left;
        bottom: 0;
        width: auto;
    }
}

.double-column {
    &.xl {
        .content {
            flex-basis: 60%;
            color: #fff;
        }

        figure {
            flex-basis: 40%;
        }
    }

    @include tabletmin {
        .flex-mob-column {
            flex-direction: column-reverse;
        }
    }

    .dark {
        .content {
            color: #fff;
        }
    }

    .content {
        flex-basis: 35%;
        margin: 0 5rem 0 0;

        @include tabletmin {
            margin: 0;
        }

    }

    figure {
        flex-basis: 65%;

        @include tabletmin {
            margin: 0 0 3rem 0;
        }

        img {
            width: 100%;
        }
    }




    .reverse {
        .content {
            margin: 0 0 0 5rem;
            @include tabletmin {
                margin: 0;
            }
        }
    }
}

.sticky-whatsapp {
    position: fixed;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    bottom: 4%;
    cursor: pointer;
}

.dotted-carousel {
    position: relative;
    z-index: 22;

    .swiper-slide {
        height: 90vh;
        background-size: cover;
        background-repeat: no-repeat;

        @include tabletmin {
            height: 100vh;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgb(0 0 0 / 50%);
        }
    }

    .swiper-pagination {
        right: 0;
        text-align: right;
        z-index: 22;
        bottom: 10%;
        height: 0;
    }

    .down-arrow {
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: 5%;

        svg {
            cursor: pointer;
            width: 1.6rem;
            height: 5.8rem;
            animation: inf-arrow 2s ease-in-out infinite;

            @keyframes inf-arrow {
                0% {
                    transform: translate(0, -1.5rem);
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    transform: translate(0, 1.5rem);
                    opacity: 0;
                }
            }
        }
    }

    .content-position {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;

        .slider-content {
            max-width: 50%;
            width: 100%;

            @include tabletmin {
                max-width: 100%;
            }

            p {
                margin-bottom: 3.2rem;
            }
        }
    }
}

.what-we-do {
    &.primary-bg {
        h2 {
            color: #fff;
        }
    }
}