header {
    padding: 2.7rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 22;
    transition: 0.3s all ease;

    &.active {
        background: #000;
    }

    .header-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    figure {

        flex-basis: 30%;

        p {
            font-weight: 600;
            cursor: pointer;
            color: #fff;
        }
    }

    nav {
        flex-basis: 70%;
        display: flex;
        justify-content: flex-end;

        ul {
            display: flex;
            align-items: center;

            li {
                margin-right: 5.6rem;

                a {
                    color: rgb(255 255 255 / 50%);
                    transition: 0.3s all ease;

                    &:hover {
                        color: #fff;
                    }
                }

                &.active {
                    a {
                        color: #fff;
                    }

                }
            }
        }
    }
}