.tab-items {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    margin-bottom: 4rem;


    ul {
        max-width: 60%;
        justify-content: space-between;

        @include tabletmin {
            text-align: center;
            max-width: 100%;
        }
    }

    li {
        @include tabletmin {
            margin: 0 0 2rem 0;
        }

        &.active {
            a {
                border-bottom: 3px solid #FFFFFF;
            }
        }

        a {

            color: #fff;
            padding-bottom: 2.4rem;
            display: inline-block;
            font-size: 2.4rem;
            line-height: 1;
            border-bottom: 3px solid transparent;

        }
    }
}

.tab-content {
    .double-column {
        &.mt-104 {
            margin: 0;
        }
    }

    &>.content.show {
        display: block;
        animation: showTab 2s forwards;

        @keyframes showTab {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    &>.content {
        display: none;
        color: #fff;
    }
}