.tab-items {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    margin-bottom: 9rem;

    ul {
        max-width: 60%;
        justify-content: space-between;
        @include tabletmin{
          text-align: center;
        }
    }

    li {
        @include tabletmin{
            margin: 0 0 2rem 0;
        }
        &.active {
            a {
                border-bottom: 3px solid #FFFFFF;
            }
        }

        a {
            color: #fff;
            padding-bottom: 1.6rem;
            display: inline-block;
            font-size: 2.4rem;
        }
    }
}

.tab-content {
    &>.content.show {
        display: block;
        animation: showTab 2s forwards;

        @keyframes showTab {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    &>.content {
        display: none;
        color: #fff;
    }
}