.testimonials {
  background-color: #f1f1f1;

  .testimonial-box {
    box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.08);

    blockquote {
      background: #f1f1f1;
      padding: 5.7rem 3.2rem;
      transition: 0.3s all ease;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 3rem;
        left: 3.2rem;
        background-image: url(../images/quote-before.svg);
        background-repeat: no-repeat;
        width: 1.7rem;
        height: 1.3rem;
        background-size: contain;
      }
    }

    .info {
      padding: 3.2rem;
      align-items: center;

      figure {
        margin-right: 2.4rem;
        background: #ccc;
        width: 6.4rem;
        height: 6.4rem;
      }
    }
    &:hover {
      blockquote {
        background: $primaryColor;
        color: #fff;
        &::before {
          background-image: url(../images/quote-before-white.svg);
        }
      }
    }
  }
}
