.three-tiled-flex {
    flex-wrap: wrap;
    margin-top: 7.2rem;
    .exp-more{
        display: none;
    }
    .tiled-box {
        margin: 0 1.5rem 0 0;
        flex: 1 0 calc((100% / 3) - 1.5rem);
        box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.08);
        border-radius: 1px;
        padding: 3.2rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        background: #fff;
        transition: 0.6s all ease;

        .main-items {
            flex-grow: 2;
        }

        .arrowed-btn {
            flex-grow: 1;
        }

        figure {
            margin-bottom: 4.8rem;

            svg {
                width: 7.2rem;
                height: 7.2rem;

                path {
                    fill: $primaryColor;
                }
            }
        }

        h4 {
            margin-bottom: 2.4rem;
        }

        &:hover {
            background: $primaryColor;

            path {
                fill: #fff;
            }

            * {
                color: #fff;
            }

        }
    }
}